@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-Regular.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-Regular.woff") format("woff"), url("../fonts/work-sans/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-Medium.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-Medium.woff") format("woff"), url("../fonts/work-sans/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-SemiBold.woff") format("woff"), url("../fonts/work-sans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
:root {
  --dark-clr: #121B25;
  --white-clr: #fff;
  --white-secondary-clr: #D6D6D6;
  --accent-clr: #1AA090;
  --main-font: "Work Sans", sans-serif;
  --layout-1: 1;
  --layout-2: 5;
  --layout-3: 10;
  --layout-4: 25;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--dark-clr);
  color: var(--white-clr);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1449px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}
.menu__link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white-secondary-clr);
  position: relative;
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent-clr);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover:before {
    opacity: 1;
  }
}
.menu__buttons {
  display: none;
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: var(--layout-1);
    background-color: var(--dark-clr);
    width: 100%;
    height: 100%;
    padding: 100px 20px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu._active {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px 0;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .menu__buttons {
    margin: 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .menu__buttons .button {
    width: 100%;
  }
}

.buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.button {
  height: 41px;
  min-width: 100px;
  border: 1px solid var(--accent-clr);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white-secondary-clr);
  padding: 11px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--accent-clr);
  color: var(--white-clr);
}
.button_reverse {
  background-color: var(--accent-clr);
}
.button_reverse:hover {
  background: none;
}
.button_dark {
  background: var(--dark-clr);
  color: var(--white-clr);
}
.button_dark:hover {
  background: var(--dark-clr);
}

.header {
  margin: 40px 0 0;
}
.header__container {
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__logo {
  position: relative;
  z-index: var(--layout-2);
  display: block;
  max-width: 132px;
}
.header__logo img {
  max-width: 100%;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
     -moz-column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
          column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
    height: 41px;
    width: 40px;
    cursor: pointer;
    position: relative;
    z-index: var(--layout-2);
  }
  .header__burger span {
    display: block;
    position: absolute;
    left: 50%;
    background-color: var(--accent-clr);
    width: 70%;
    height: 10%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span:first-child {
    top: 10px;
  }
  .header__burger span:nth-child(2) {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger span:last-child {
    bottom: 10px;
  }
  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
  }
  .header__burger._active span:nth-child(2) {
    width: 0;
  }
  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg) translate(-50%, 50%);
            transform: rotate(45deg) translate(-50%, 50%);
  }
}
@media (max-width: 767px) {
  .header__buttons {
    display: none;
  }
}

.text-search {
  color: #D6D6D6;
  font-size: 1.125rem;
  line-height: 170%;
}

.filter {
  background-color: var(--white-clr);
  width: 889px;
  height: 100px;
}

.search {
  padding: 100px 0;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.search__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  margin-bottom: 160px;
}
.search__title > *:not(:last-child) {
  margin: 0 0 18px 0;
}
.search__label {
  font-size: clamp(1.5rem, 0.721rem + 3.9vw, 4.25rem);
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.search__filter {
  position: absolute;
  bottom: -60px;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  left: 0;
  z-index: var(--layout-2);
}
.search__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.search__image img {
  max-width: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}