@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-Regular.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-Regular.woff") format("woff"), url("../fonts/work-sans/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-Medium.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-Medium.woff") format("woff"), url("../fonts/work-sans/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/work-sans/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/work-sans/WorkSans-SemiBold.woff") format("woff"), url("../fonts/work-sans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
:root {
  --dark-clr: #121B25;
  --dark-secondary-clr: #1A242F;
  --white-clr: #fff;
  --white-secondary-clr: #D6D6D6;
  --accent-clr: #1AA090;
  --main-font: "Work Sans", sans-serif;
  --layout-1: 1;
  --layout-2: 5;
  --layout-3: 10;
  --layout-4: 25;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--dark-clr);
  color: var(--white-clr);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1449px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}
.menu__link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white-secondary-clr);
  position: relative;
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent-clr);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover:before {
    opacity: 1;
  }
}
.menu__buttons {
  display: none;
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: var(--layout-1);
    background-color: var(--dark-clr);
    width: 100%;
    height: 100%;
    padding: 100px 20px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu._active {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px 0;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .menu__buttons {
    margin: 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .menu__buttons .button {
    width: 100%;
  }
}

.buttons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.button {
  height: 41px;
  min-width: 100px;
  border: 1px solid var(--accent-clr);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white-secondary-clr);
  padding: 11px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--accent-clr);
  color: var(--white-clr);
}
.button_reverse {
  background-color: var(--accent-clr);
}
.button_reverse:hover {
  background: none;
}
.button_dark {
  background: var(--dark-clr);
  color: var(--white-clr);
}
.button_dark:hover {
  background: var(--dark-clr);
}

.header {
  margin: 40px 0 0;
}
.header__container {
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__logo {
  position: relative;
  z-index: var(--layout-2);
  display: block;
  max-width: 132px;
}
.header__logo img {
  max-width: 100%;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
     -moz-column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
          column-gap: clamp(0.938rem, -7.067rem + 12.91vw, 4.625rem);
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
    height: 41px;
    width: 40px;
    cursor: pointer;
    position: relative;
    z-index: var(--layout-2);
  }
  .header__burger span {
    display: block;
    position: absolute;
    left: 50%;
    background-color: var(--accent-clr);
    width: 70%;
    height: 10%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span:first-child {
    top: 10px;
  }
  .header__burger span:nth-child(2) {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger span:last-child {
    bottom: 10px;
  }
  .header__burger._active span:first-child {
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
  }
  .header__burger._active span:nth-child(2) {
    width: 0;
  }
  .header__burger._active span:last-child {
    -webkit-transform: rotate(45deg) translate(-50%, 50%);
            transform: rotate(45deg) translate(-50%, 50%);
  }
}
@media (max-width: 767px) {
  .header__buttons {
    display: none;
  }
}

.text-search {
  color: #D6D6D6;
  font-size: 1.125rem;
  line-height: 170%;
}

.filter {
  width: 889px;
  height: 100px;
  background-color: var(--white-clr);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 164px;
  grid-template-columns: 1fr 1fr 1fr 164px;
}
.filter__button {
  padding: 5px 5px 5px 0;
}
.filter__button button {
  width: 100%;
  height: 100%;
  max-height: 100%;
  color: var(--white-clr);
  background-color: var(--accent-clr);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .filter {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .filter {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .filter__button {
    padding: 0;
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}
@media (max-width: 515px) {
  .filter {
    padding: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: auto;
    row-gap: 10px;
  }
  .filter__button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .filter__button button {
    padding: 20px;
  }
}

.block-filter {
  padding: 0 clamp(1.25rem, -0.154rem + 2.93vw, 2.5rem);
  position: relative;
}
.block-filter:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
@media (max-width: 515px) {
  .block-filter:nth-child(2) {
    border: 0;
  }
}
.block-filter__button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  row-gap: 2px;
}
.block-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
}
.block-filter__type {
  color: #858585;
  font-size: 1rem;
}
.block-filter__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.block-filter__icon img {
  max-width: 100%;
}
.block-filter__icon._active {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
.block-filter__value {
  color: #121B25;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--white-clr);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: var(--layout-3);
  border: 2px solid var(--accent-clr);
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}
.block-filter__item {
  color: var(--dark-clr);
  font-size: 1.125rem;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background: var(--white-secondary-clr);
  }
}

.search {
  margin-top: clamp(1.25rem, -0.166rem + 7.08vw, 6.25rem);
  position: relative;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .search__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.search__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  margin-bottom: 160px;
}
@media (max-width: 992px) {
  .search__content {
    margin-bottom: 0;
  }
}
.search__title > *:not(:last-child) {
  margin: 0 0 18px 0;
}
@media (max-width: 992px) {
  .search__title {
    margin-bottom: 20px;
  }
}
.search__label {
  font-size: clamp(1.5rem, 0.721rem + 3.9vw, 4.25rem);
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}
.search__filter {
  position: absolute;
  bottom: -60px;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  left: 0;
  z-index: var(--layout-2);
}
@media (max-width: 992px) {
  .search__filter {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
}
.search__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.search__image img {
  max-width: 100%;
}
.search__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.title {
  color: #FFF;
  font-size: clamp(1.25rem, 0.754rem + 2.48vw, 3rem); /* 48 - 20 */
  font-weight: 600;
  line-height: 126%; /* 60.48px */
  text-transform: capitalize;
}

.featured {
  padding: clamp(2rem, -0.619rem + 13.1vw, 11.25rem) 0;
}
.featured__title {
  margin: 0 0 clamp(0.938rem, 0.477rem + 2.3vw, 2.563rem) 0;
}
.featured__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px;
  overflow-x: auto;
}
@media (max-width: 1450px) {
  .featured__partners {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
.featured__partner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.popular {
  background-color: var(--dark-secondary-clr);
  padding: 160px 0;
  position: relative;
}
.popular__container {
  position: relative;
  z-index: var(--layout-1);
}
.popular__title {
  margin: 0 0 40px;
}
.popular__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-popular {
  position: relative;
}
.slider-popular__buttons {
  position: absolute;
  top: 30.9%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-popular__btn {
  position: absolute;
  height: 78px;
  width: 78px;
  border: 1px solid #A9ADB1;
  border-radius: 50%;
  cursor: pointer;
}
.slider-popular__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 4px solid var(--white-clr);
  border-left: 4px solid var(--white-clr);
  -webkit-transform: rotate(-45deg) translate(15%, -50%);
          transform: rotate(-45deg) translate(15%, -50%);
  width: 16px;
  height: 16px;
}
.slider-popular__btn_left {
  left: -51px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.slider-popular__btn_right {
  right: -51px;
  -webkit-transform: translate(100%, 0) scale(-1);
          transform: translate(100%, 0) scale(-1);
}

.item-popular {
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-popular__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 353px;
          flex: 0 0 353px;
  margin: 0 0 22px;
}
.item-popular__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-popular__header {
  margin: 0 0 17px;
}
.item-popular__title {
  color: #FFF;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 126%; /* 32.76px */
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.item-popular__title:not(:last-child) {
  margin: 0 0 4px;
}
.item-popular__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.item-popular__parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.item-popular__parameter span {
  font-size: 1rem;
  text-transform: capitalize;
}

.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}