@import "./blocks/search__text-search";
@import "./blocks/search__filter";

.search {
    margin-top: clamp(1.25rem, -0.166rem + 7.08vw, 6.25rem);
    position: relative;
    &__container {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__content {
        flex: 0 1 50%;
        position: relative;
        margin-bottom: 160px;
        @media (max-width: 992px) {
            margin-bottom: 0;
        }
    }
    &__title {
        & > *:not(:last-child) {
            margin: 0 0 18px 0;
        }
        @media (max-width: 992px) {
            margin-bottom: 20px;
        }
    }
    &__label {
        font-size: clamp(1.5rem, 0.721rem + 3.9vw, 4.25rem);
        font-weight: 600;
        line-height: 126%;
        text-transform: capitalize;
    }
    &__filter {
        position: absolute;
        
        bottom: -60px;
        transform: translate(0, 100%);
        left: 0;
        z-index: var(--layout-2);
        @media (max-width: 992px) {
            position: static;
            transform: none;
            width: 100%;
        }
    }
    &__image {
        flex: 0 1 50%;
        img {
            max-width: 100%;
        }
    }
    &__decor {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: translateY(50%);
    }
}

