:root {
    // Color
    --dark-clr: #121B25;
    --white-clr: #fff;
    --white-secondary-clr: #D6D6D6;
    --accent-clr:  #1AA090;
    // Fonts
    --main-font: "Work Sans", sans-serif;
    // Layouts
    --layout-1: 1;
    --layout-2: 5;
    --layout-3: 10;
    --layout-4: 25;
}