@import "./blocks/search/search";
@import "./blocks/featured/featured";
@import "./blocks/popular/popular";
@import "./blocks/choose/choose";
@import "./blocks/comments/comments";
.page {
    flex: 1 1 auto;
}