.help {
    padding: clamp(1.875rem, -0.426rem + 11.5vw, 10rem) 0;
    background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0.00) 82.97%);
    &__container {
        display: flex;
        align-items: center;
        gap: 63px;
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__gallery {
        display: flex;
        column-gap: 20px;
        align-items: center;
        width:calc(720px / 1450px * 100%);
        @media screen and (max-width: 992px) {
            width:100%;
        }
    }
    &__item {
        flex: 0 1 50%;
        & .swiper-wrapper {
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {}
    &__title {
        max-width: 517px;
        &:not(:last-child) {
            margin: 0 0 22px;
        }
    }
    &__text {
        margin: 0 0 45px; 
    }
    &__button {}
}