.comments {
    max-width: 1003px;
    margin: clamp(7.5rem, 4.668rem + 14.16vw, 17.5rem) auto 0;
    position: relative;
    &__quote {
        position: absolute;
        top: 0;
        left: 0;
        font-size: clamp(9.375rem, 7.428rem + 9.73vw, 16.25rem);
        color: var(--accent-clr);
        transform: translate(-12%, -49%);
    }
}
.slider-comments {
    position: relative;
    &__wrapper {
        &.swiper-wrapper {
            align-items: flex-start;
        }
    }
    &__buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 61px;
        display: inline-flex;
        align-items: center;
        column-gap: 70px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 1px;
            background: #353F49;
        }
    }
    &__btn {
        cursor: pointer;
        &.swiper-button-disabled {
            svg {
                fill: #767F89;
            }
        }
        svg {
            fill: var(--white-clr);
        }
        &_right {
            transform: scale(-1) translate(0, 4px);
        }
    }
}
.item-slider-comments {
    &__text {
        font-size: clamp(1.25rem, 0.897rem + 1.76vw, 2rem);
        line-height: 157%; /* 50.24px */
        text-transform: capitalize;
        margin: 0 0 40px;
    }
    &__name {
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 126%; /* 27.72px */
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }
}