@import "./blocks/swiper";
@import "./blocks/popular-slider";
@import "./blocks/btn";

.popular {
    background-color: var(--dark-secondary-clr);
    padding: 160px 0;
    position: relative;
    &__container {
        position: relative;
        z-index: var(--layout-1);
    }
    &__title {
        margin: 0 0 40px;
    }
    &__slider {
        margin: 0 0 67px;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__button {
        text-align: center;
    }
}
