.popular {
    background-color: var(--dark-secondary-clr);
    padding: 160px 0;
    position: relative;
    &__container {
        position: relative;
        z-index: var(--layout-1);
    }
    &__title {
        margin: 0 0 40px;
    }
    &__slide {}
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slider-popular {
    position: relative;
    &__swiper {}
    &__wrapper {}
    &__slide {}
    &__item {}
    &__buttons {
        position: absolute;
        top: 30.9%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        position: absolute;
        height: 78px;
        width: 78px;
        border: 1px solid #A9ADB1;
        border-radius: 50%;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-top: 4px solid var(--white-clr);
            border-left: 4px solid var(--white-clr);
            transform: rotate(-45deg) translate(15%, -50%);
            width: 16px;
            height: 16px;
        }
        &_left{
            left: -51px;
            transform: translate(-100%, 0);
        }
        &_right{
            right: -51px;
            transform: translate(100%, 0) scale(-1);
        }
    }
}
.item-popular {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    &__image {
        position: relative;
        flex: 0 0 353px;
        margin: 0 0 22px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {}
    &__header {
        margin: 0 0 17px;
    }
    &__title {
        color: #FFF;
        font-size: 1.625rem;
        font-weight: 600;
        line-height: 126%; /* 32.76px */
        letter-spacing: 0.01em;
        text-transform: capitalize;
        &:not(:last-child) {
            margin: 0 0 4px;
        }
    }
    &__parameters {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    &__parameter {
        display: flex;
        align-items: center;
        column-gap: 4px;
        span {
            font-size: 1rem;
            text-transform: capitalize;
        }
    }
}
.swiper {
    overflow: hidden;
    &-wrapper {
        display: inline-flex;
    }
    &-slide {
    }
    &-button-prev {
    }
    &-button-next {
    }
}

